/* DashboardPage.css */

/* Global styles */




.dashboard-container {
  padding: 20px;
  margin: auto;
  max-width: 1200px;
}

h1 {
  text-align: center;
  color: #333;
}

/* Button styles */




.back-to-login-btn {
  display: block;
  width: 100%;
  margin-top: 20px;
}

/* ProductsDisplay.css */

.products-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.product-row {
  border: 1px solid #dee2e6;
  padding: 20px;
  border-radius: 5px;
  width: calc(33.333% - 20px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
}

.product-row h2 {
  color: #007bff;
  margin-bottom: 10px;
}

.delete-btn {
  background-color: #dc3545; /* Red for delete */
  color: white;
  cursor: pointer;
}

.edit-btn {
  background-color: #ffc107; /* Yellow for edit */
  color: #333;
  cursor: pointer;
  margin-right: 5px;
}

.edit-btn, .delete-btn {
  position: absolute;
  top: 20px;
}

.edit-btn {
  right: 70px; /* Spacing from right for edit button */
}

.delete-btn {
  right: 20px; /* Spacing from right for delete button */
}

/* EditProductForm.css */

#edit-remove-variation{
  background-color: #dc3545; /* Red for delete */
  color: white;
  cursor: pointer;
}

#edit-remove-variation:hover {
  background-color: #84121d; /* Darker red for delete */
}

#edit-add-variation {
  background-color: #28a745; /* Green for add */
  color: white;
  cursor: pointer;
}

#edit-add-variation:hover {
  background-color: #218838; /* Darker green for add */
}

.edit-product-form {
  background-color: #f8f9fa;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
}

.edit-product-form input,
.edit-product-form button {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  cursor: pointer;

}
.edit-product-form button:hover {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #8ebded; /* Green for save */

  
}
.edit-product-form button {
  padding: 10px;
  margin-top: 10px;
  background-color: #5d28a7; /* Green for save */
  color: white;
}

.edit-product-form .cancel-btn {
  background-color: #6c757d; /* Grey for cancel */
  color: white;
}

/* Handle responsive layout */
@media (max-width: 992px) {
  .product-row {
      width: calc(50% - 20px);
  }
}

@media (max-width: 576px) {
  .product-row {
      width: 100%;
  }
}

.toggle-form-btn {
  background-color: #4a2188;
  color: white; 
  cursor: pointer;
  padding: 10px 20px;
  border: 2px solid transparent;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  outline: none;
  margin-bottom: 20px;
  margin-top: 10px;
}

.toggle-form-btn:hover, .toggle-form-btn:focus {
  background-color: #381670;
  border-color: #ffffff;
  box-shadow: 0 0 8px rgba(74, 33, 136, 0.5);
}



.edit-product-form, .add-product-form {
    max-width: 500px;
    
    
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .edit-product-form p, .add-product-form p {
    margin-top: 10px;
    margin-bottom: 5px;
    color: #333;
  }
  
  .edit-product-form input, .add-product-form input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .edit-product-form button, .add-product-form button {
    cursor: pointer;
    padding: 10px 15px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
  
    color: #ffffff;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  
  .edit-product-form button:hover, .add-product-form button:hover {
    background-color: #151515;
  }
  
  .remove-variation-btn {
    background-color: #dc3545;
   
  }
  
  .remove-variation-btn:hover {
    background-color: #c82333;
  }
  
  .add-variation-btn {
    background-color: #28a745;
  }
  
  .add-variation-btn:hover {
    background-color: #218838;
  }
  
  .variation-group {
    margin-bottom: 20px;
   
    background: #ffffff;
    border: 1px solid #eee;
    border-radius: 5px;
  }
  
  .variation-group p {
    margin-top: 0;
  }

#submit-btn-product {
    background-color: #28a745;
    color: white;
    cursor: pointer;
  }

    #submit-btn-product:hover {
        background-color: #213c88;
    }

    .products-filter-container {
      display: flex;
      flex-direction: column;
      padding: 15px;
      margin-bottom: 20px;
      border-radius: 8px;
      background-color: #f2f2f2;
    }
    
    .filter-group {
      margin-bottom: 10px;
    }
    
    .filter-label {
      display: block;
      margin-bottom: 5px;
    }
    
    .filter-input {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    
    .filter-apply-btn,
    .filter-clear-btn {
      padding: 10px;
      margin-top: 10px;
      width: 100%;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    
    .filter-apply-btn {
      background-color: #4CAF50;
      color: white;
    }
    
    .filter-clear-btn {
      background-color: #f44336;
      color: white;
    }
    
    .filter-apply-btn:hover {
      background-color: #45a049;
    }
    
    .filter-clear-btn:hover {
      background-color: #d32f2f;
    }
  
    .filter-select {
      width: 100%;
      padding: 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
    }
    