/* DashboardPage.css */

/* Global styles */




.dashboard-container {
  padding: 20px;
  margin: auto;
  max-width: 1200px;
}

h1 {
  text-align: center;
  color: #333;
}

/* Button styles */




.back-to-login-btn {
  display: block;
  width: 100%;
  margin-top: 20px;
}

/* ProductsDisplay.css */

.products-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.product-row {
  border: 1px solid #dee2e6;
  padding: 20px;
  border-radius: 5px;
  width: calc(33.333% - 20px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
}

.product-row h2 {
  color: #007bff;
  margin-bottom: 10px;
}

.edit-btn, .delete-btn {
  background-color: #dc3545; /* Red for delete */
  color: white;
}

.edit-btn {
  background-color: #ffc107; /* Yellow for edit */
  color: #333;
}

.edit-btn, .delete-btn {
  position: absolute;
  top: 20px;
}

.edit-btn {
  right: 70px; /* Spacing from right for edit button */
}

.delete-btn {
  right: 20px; /* Spacing from right for delete button */
}

/* EditProductForm.css */

.edit-product-form {
  background-color: #f8f9fa;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
}

.edit-product-form input,
.edit-product-form button {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
}

.edit-product-form button {
  padding: 10px;
  margin-top: 10px;
  background-color: #28a745; /* Green for save */
  color: white;
}

.edit-product-form .cancel-btn {
  background-color: #6c757d; /* Grey for cancel */
  color: white;
}

/* Handle responsive layout */
@media (max-width: 992px) {
  .product-row {
      width: calc(50% - 20px);
  }
}

@media (max-width: 576px) {
  .product-row {
      width: 100%;
  }
}
